/* MAIN e HERO */

main {
    display: flex;
    flex-direction: column;
  }
  
  .conteudo-principal {
    background: #181012;
  }
  
  .hero {
    max-width: 1120px;
    height: 60vh;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    gap: 6rem;
    padding: 0rem 2rem;
    
    margin: auto;
    overflow: clip;
    align-items: center;
  }
  
  .hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .palavra-destaque {
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .marrom {
    color: #a45a49;
  }
  
  .amarelo {
    color: #e7a80e;
  }
  
  .hero-subtitulo {
    color: #c7bab3;
    font-family: 'Inter';
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .hero-imagens-container {
    max-width: 45%;
    margin: -1rem;
    column-count: 4;
    column-gap: 1rem;
  }
  
  .hero-imagens-container > figure > img {
    max-width: 100%;
    border-radius: 0.5rem;
  }
  
  /* BOTÃO DO HERO */
  
  .botao-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0','-50%");
  }
  
  button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
  
    background: #a45a49;
  
    margin: -30px 0px 0px 30px;
  }  